.bg-login-image {
    background-image: url("/asset/image/trading.jpeg"); 
    background-position: center;
    background-size: cover
}

.bg-register-image {
    background-image: url("/asset/image/trading1.jpg");
    background-position: center;
    background-size: cover
}
.col-xl-4.col-md-6.mb-4{
    margin-left: 313px;
}